description = "Full Width layout"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html>

<head>
    {% partial 'site/head' %}
    {% styles %}
</head>

<body>

    <!-- Header -->
    <header class="header" id="layout-header">
        {% partial 'site/header' %}
    </header>

    <!-- Content -->
    <main class="main" id="layout-content">
        {% page %}
    </main>

    <!-- Footer -->
    <footer class="footer" id="layout-footer">
        <div class="container"></div>
        {% partial 'site/footer' %}
        </div>
    </footer>

    {% partial 'site/scripts' %}
    {% framework extras %}
    {% scripts %}

</body>

</html>