// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header{
    background-color: var(--glaucous);
    color: var(--white);
    .container {
        display: flex;
        justify-content: space-between;
    }
    a {
        color: var(--white);
    }
}