title = "Home Page"
url = "/"
layout = "full-width"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"


[contactForm]

==

<?php

use Lucid\Projects\Models\Category;
use Lucid\Projects\Models\Project;

function onStart(){
    $this['categories'] = Category::where('is_published', '1')->with('thumbnail')->get();
    $this['projects'] = Project::where('is_published', '1')->with('thumbnail')->get();
}

?>

==

<!-- Hero -->
<section class="hero">
    <div class="container">
        <h2>We build your dream</h2>
    </div>
</section>

<!-- project categories -->
<section class="categories">
    <div class="container grid-small">
        {% for item in categories %}
        <div class="card">
            <div class="card__image">
                <a href="/projects/category/{{item.slug}}"><img src="{{ item.thumbnail.path }}"
                        alt="thumbnail: {{item.title}}"></a>
            </div>
            <div class="card__content">
                <a href="/projects/category/{{item.slug}}">{{item.title}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- CTA -->
<section class="cta">
    <div class="container">
        <h2>Get in touch</h2>
        {% component 'contactForm' %}
    </div>
</section>

<!-- Projects -->
<section class="showcases">
    <div class="container">
        <h2>Projects</h2>
        {% for item in projects %}
        <div class="showcase">
            <div class="showcase__image">
                <img src="{{ item.thumbnail.path }}" alt="Thumbnail: {{ item.title}}">
            </div>
            <div class="showcase__content">
                <h3>{{ item.title}}</h3>
                {{ html_clean(item.excerpt)|raw }}
                <p><a href="/project/{{ item.slug }}">more</a></p>
            </div>
        </div>
        {% endfor %}

    </div>
</section>

<!-- News -->
<section class="front-news">
    <div class="container">
        <h2>News</h2>

        {% set posts = blogPosts.posts %}

        <div class="front-news__feature">
            <h3><a href="/news/post/{{ posts.0.slug }}">{{ posts.0.title }}</a></h3>

            <p class="excerpt">{{ posts.0.summary | raw }}</p>

        </div>
        <div class="front-news__list">
            {% for post in posts %}

            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>


            {% else %}
            <p class="no-data">{{ blogPosts.noPostsMessage }}</p>
            {% endfor %}
        </div>
    </div>
</section>