[viewBag]

[staticMenu]
code = "main-menu"
==
<?php
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
?>
==
<div class="container">
    <div class="logo">
        {% partial "site/include-svg" file="themes/acme/assets/images/logo.svg" %}
    </div>
    <!-- Nav -->
    <nav id="layout-nav" class="navbar" role="navigation">
        <div class="container">
            {% if staticMenu.menuItems %}
            <ul class="nav-menu">
                {% partial staticMenu ~ "::items" items=staticMenu.menuItems %}
            </ul>
            {% endif %}
        </div>

    </nav>
</div>